 <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header header2" style="background-image: url('#')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1><%= @post.title %></h1>
                        
                        <span class="meta"><%= link_to 'Back', post_path(@post) %> | <%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: "SURE ??? Delete ???"} %></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

 <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                   <%= render "form" %>
                </div>
            </div>
        </div>
    </article>

<h2>Edit Post nr : <%= params[:id] %> | <%= link_to 'Back', posts_path %></h2>


  

	